fastapi[standard]
uvicorn[standard]
arq
redis
python-dotenv
openai
tenacity
supabase
rapidocr-onnxruntime
opencv-python-headless
numpy<2.0.0
pdf2image
Pillow
pydantic
pydantic-settings
websockets
python-multipart
httpx
google-generativeai
